body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 15%;
}

#hidden-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px; /* Increases clickable area */
    height: 20px;
    color: transparent; /* Makes text invisible */
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.01); /* Almost invisible */
}
